/rgbd_dataset_freiburg1_xyz
/rgbd_dataset_freiburg1_rpy
/rgbd_dataset_freiburg1_desk
/rgbd_dataset_freiburg1_floor
/rgbd_dataset_freiburg1_room
/rgbd_dataset_freiburg2_desk
/rgbd_dataset_freiburg2_large_no_loop
/rgbd_dataset_freiburg2_pioneer_slam3